aiohttp
aiosignal
async-timeout
asyncio==3.4.3
attrs
blinker
charset-normalizer
click
discord==2.3.2
discord-py==2.3.2
flask==3.0.0
frozenlist
idna
itsdangerous
jinja2
markupsafe
multidict
py-cord==2.4.1
typing-extensions==4.9.0
werkzeug
yarl
